@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --bg-1: hsl(273, 75%, 66%);
  --bg-2: hsl(240, 73%, 65%);
  --very-dark-grey-blue: hsl(237, 12%, 33%);
  --dark-grey-blue: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
  --soft-red: hsl(14, 88%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, var(--bg-1), var(--bg-2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Kumbh Sans";
  overflow-y: hidden;
  font-size: 12px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 22px;
  overflow: hidden;
  width: 60vw;
  height: 65%;
}

.title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--very-dark-grey-blue);
  margin-top: 45px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.img-stack {
  position: relative;
  right: 70px;
  top: 10px;
}

.img-stack img {
  position: absolute;
}

.img-stack img[alt="lines"] {
  position: absolute;
  transform: translate(-490px, -380px);
  z-index: 10;
}
.img-stack img[alt="block"] {
  position: fixed;
  margin-top: 120px;
  z-index: 10;
}

/* paragraph and arrow row */

.text-content {
  position: relative;
  top: 23px;
  right: 65px;
  width: 400px;
}

.text-box {
  width: 100%;
  margin: 35px 0px;
}

.text-box.active .row p {
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.15s;
}

.text-box.active .row img {
  transform: rotate(180deg);
}

.row:hover {
  color: var(--soft-red);
}

.row p {
  margin-bottom: 5px;
}

.row img,
.row p,
.answer p {
  user-select: none;
}

.divider {
  width: 100%;
  background: var(--divider);
  height: 1px;
}

.answer {
  margin: 15px 0px;
  color: var(--dark-grey-blue);
  font-size: 1rem;
  display: none;
}

.text-box.active .answer {
  display: block;
}

@media (max-width: 1440px) {
  .text-content {
    right: 25px;
    width: 350px;
  }

  .row {
    font-size: 1.1rem;
  }

  .answer {
    font-size: 0.9rem;
  }

  .img-stack img {
    transform: scale(0.8);
  }
}

@media (max-width: 1222px) {
  .text-content {
    right: 25px;
    width: 300px;
    top: 45px;
  }

  .text-box {
    width: 100%;
    margin: 25px 0px;
  }

  .row {
    font-size: 0.9rem;
  }

  .answer {
    font-size: 0.8rem;
  }

  .img-stack img {
    transform: scale(0.6);
  }
}

@media (max-width: 1057px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-stack {
    position: relative;
    right: 40px;
    top: -250px;
  }

  .content {
    overflow: visible;
  }

  .title h1 {
    position: relative;
    font-size: 1.5rem;
    top: 80px;
  }

  .text-content {
    text-align: center;
    width: 280px;
    top: 90px;
    right: -48px;
  }
}

/* .text-content {
  position: relative;
  top: 23px;
  right: 65px;
  width: 400px;
} */

/* .text-box {
  width: 100%;
  margin: 35px 0px;
} */

/* .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.15s;
} */
