@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --bg-1: hsl(273, 75%, 66%);
  --bg-2: hsl(240, 73%, 65%);
  --very-dark-grey-blue: hsl(237, 12%, 33%)
  --dark-grey-blue: hsl(240, 6%, 50%) 
}

body {
  background: linear-gradient(to bottom, var(--bg-1), var(--bg-2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Kumbh Sans";
  overflow-y: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.content {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 22px;
  overflow: hidden;
  width: 60vw;
  height: 65%;
}

.title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  
}

.img-stack{
    position: relative;
    right: 70px;
}

.img-stack img{
position: absolute;
}

.img-stack img[alt="lines"]{ 
    position: absolute;
    transform: translate(-490px,-380px);
    z-index: 10;
}
.img-stack img[alt="block"]{
    position: fixed;
    margin-top: 120px;
    z-index: 10;
}



